@import "src/styles/variables";
.development-team-member{
  width: fit-content;
  margin: auto;
  cursor: pointer;

  .development-team-member-box{
    position: relative;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 250px;
    min-width: 250px;

    .image-member{
      width: 100%;
      border-radius: 25px;
    }

    .name-member{
      color: #000000;
      font-size: 15px;
      text-align: center;
      width: 100%;
      display: block;
      font-weight: bold;
      margin: 12px 0 12px 0;
      @media #{$info-phone} {
        font-size: 12px;
      }
    }
  }
  .position-member{
    color: #000000;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 20px;
    @media #{$info-phone} {
      font-size: 17px;
    }
  }
}
