@import "src/styles/variables";

#about-us{
  width: 100%;
  padding: 220px 0;
  overflow-x: hidden;
  background: #F1F1F1;
  @media #{$info-phone} {
    padding: 120px 0;
  }
  .core-team{
    overflow: hidden;
    padding-bottom: 80px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    .title-main{
      font-size: 75px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      display: block;
    }

    .box-slide{
      position: relative;
      margin-top: 70px;

      .box-member{
        display: flex;
        width: 100%;
        overflow-x: auto;
        flex-wrap: nowrap;
      }

      .icon-slide{
        position: absolute;
        top: 32%;
        z-index: 2;
        cursor: pointer;
        img{
          width: 60px;
          z-index: 2;
          opacity: 0.4;
          transition: opacity 0.4s;
          &:hover{
            opacity: 1;
          }
        }

        &.icon-next{
          left: -40px;
        }

        &.icon-pre{
          right: -40px;
        }
      }
    }
  }
}

#root{
  #about-us{
    .swiper{
      position: initial;
      .swiper-pagination-bullet{
        background: #000000;
      }
      .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
      .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
        bottom: -50px;
      }
    }
  }
}