@import "src/styles/variables";

#support{
  width: 100%;
  overflow-x: hidden;
  padding: 250px 0 250px 0;
  background: #121212;
  @media #{$info-phone} {
    padding: 120px 0;
  }
  .container-child{
    flex-direction: column;
    .title-main{
      font-size: 75px;
      line-height: 90px;
      text-align: center;
      font-weight: bold;
      color: #FFFFFF;
      @media #{$info-phone} {
        font-size: 40px;
        line-height: 48px;
      }
    }

    .description{
      color: #FFFFFF
    }

    .contract-form{
      display: block;
      position: relative;
      width: 1100px;
      max-width: 100%;
      height: fit-content;
      padding: 60px 0 30px 0;
      margin:90px auto 0 auto;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      .form-input{
        width: calc(100% - 170px);
        margin: 25px 0 0  60px;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        @media #{$info-table-1068} {
          width: calc(100% - 140px);
          margin: 25px 0 0  60px;
        }

        @media #{$info-phone} {
          flex-direction: column;
          width: auto;
          margin: 25px 20px 0  20px;
        }

        .title-input{
          width: max-content;
          display: flex;
          margin: 12px 0 0 0;
          white-space: nowrap;
          flex-direction: row;
          font-weight: bold;
          font-size: 18px;
          @media #{$info-table-1068} {
            margin: 10px 0 0 0;
            font-size: 16px;
          }
          @media #{$info-phone} {
            margin: 0 0 3px 7px ;
          }
          span{
            color:#ab0101 ;
          }
        }

        .input-form{
          width: calc(100% - 320px);
          border-radius: 10px;
          background: rgba(0, 3, 28, 0.6);
          border: none;
          padding: 15px 20px;
          font-size: 18px;
          @media #{$info-table-1068} {
            width: calc(100% - 280px);
            border-radius: 6px;
            font-size: 14px;
          }
          @media #{$info-phone} {
            width: auto;
          }
          &#support-file-upload{
            @media #{$info-phone} {
              padding-right: 100px;
            }
          }
        }
        input[type="file"]{
          &::-webkit-file-upload-button {
            display: none;
          }
          &::file-selector-button {
            display: none;
          }
          pointer-events: none;
          color: transparent;
        }

        textarea{
          &.input-form{
            height: 100px;
            max-height: 100px;
          }
        }

        .count-text{
          position: absolute;
          bottom: -25px;
          right: 0;
          @media #{$info-table-1068} {
            bottom: -20px;
          }
          @media #{$info-phone} {
            bottom: -25px;
          }
        }

        .text-error{
          position: absolute;
          left: 290px;
          bottom: -32px;
          font-size: 13px;
          color: #ab0101;
          @media #{$info-table-1068} {
            left: 245px;
            font-size: 11px;
            bottom: -30px;
          }

          @media #{$info-phone} {
            left: 10px;
          }
        }

        .custom-file-upload{
          position: absolute;
          right: 10px;
          top: 52%;
          transform: translateY(-50%);
          @media #{$info-phone} {
            top: 70%;
            right: 10px;
          }
          img{
            cursor: pointer;
            width: 30px;
          }
        }

        .support-close-file{
          position: absolute;
          right: 50px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 25px;
          color: #9AC3B7;
          cursor: pointer;
          opacity: 0;
          z-index: -1;
          transition: all .2s ease-in-out;
          @media #{$info-phone} {
            top: 67%;
            right: 50px;
          }
          &.open{
            opacity: 1;
            z-index: 1;
          }
        }
      }

      button{
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: rgba(0,0,0,0);
        width: 190px;
        height: 55.5px;
        font-size: 25px;
        font-weight: bold;
        margin: 50px auto 0 auto;
        display: block;
        cursor: pointer;
      }
    }
  }
}