@import "src/styles/variables";

#partners{
  width: 100%;
  padding: 200px 0 200px 0;
  overflow-x: hidden;
  .our-partners{
    width: 100%;
    .title-main1{
      text-align: left;
      position: absolute;
      font-size: 65px;
      font-weight: bold;
      bottom: -13px;
      left: 35px;
      @media #{$info-table-1400} {
        font-size: 4.6vw;
        font-weight: bold;
        bottom: -0.8vw;
        left: 2vw;
      }
    }

    .title-main2{
      text-align: left;
      position: absolute;
      display: block;
      font-size: 90px;
      font-weight: bold;
      bottom: -120px;
      left: 35px;
      @media #{$info-table-1400} {
        font-size: 7vw;
        bottom: -9vw;
        left: 2vw;
      }
    }

    .box-slide{
      width: calc(100% - 270px);
      position: relative;
      float: right;
      @media #{$info-table-1400} {
        width: calc(100% - 16vw);
      }
      .overlay-left{
        width: 240px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right,#ffff, rgba(255, 255, 255, 0));
        z-index: 2;
      }
      .overlay-right{
        width: 240px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(to left,#ffff, rgba(255, 255, 255, 0));
        z-index: 2;

      }
      .slide-partners{
        width: 100%;
        position: relative;
    }
  }

    .box-image{
      width: 150px;
    }
    .swiper-wrapper{
      transition-timing-function: linear;
    }
  }

  .review{
    width: 100%;
    margin-top: 290px;
    background: linear-gradient(116.66deg, #00FFD5 0%, #00C2FF 48.44%, #00FF80 100%);
    border-radius: 40px;
    padding: 40px 0 80px 0;
    position: relative;
    .title-main{
      width: 100%;
      text-align: center;
      display: block;
      font-size: 40px;
      margin-bottom: 100px;
    }

    .box-slide{
      width: 100%;
    }
  }
}

#root{
  #partners{
    .our-partners{
      .swiper{
        position: initial;
        .swiper-pagination-bullet{
          background: #000000;
          display: none;
        }
        .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
        .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
          bottom: -60px;
        }
      }
    }

    .review{
      .swiper{
        height: 200px;
        overflow-y: hidden;
        position: initial;
        width: calc(100% - 100px);
        .swiper-pagination-bullet{
          background: #000000;
        }
        .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
        .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
          bottom: 40px;
        }

        .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
          right: 20px;
          top: 55%;
        }
      }
    }
  }
}