@import "variables";

.container{
  margin: auto;
  width: 100%;
  max-width: 2560px;
}

.title-main{
  font-size: 22px;
  @media #{$info-table-1068} {
    font-size: 18px;
  }
}

.container-child{
  margin: 0 auto;
  position: relative;
  max-width: 1380px;
  padding: 0 30px;
  display: flex;
  z-index: 2;
}

a{
  text-decoration: none;
  font-size: 17px;
  &:-webkit-any-link:focus-visible {
    outline-offset: 0px;
  }
  &:-webkit-any-link:active {
    color: #0D0C0C;
  }
  &:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
  }
}

span,h1,h2,h3,h4,h5,h6,a{
  color: #0D0C0C;
  font-size: 20px;
  letter-spacing: 1px;
  @media #{$info-table-1068} {
    font-size: 14px;
  }
}

#root{
    .swiper{
      position: initial;
      .swiper-pagination-bullet{
        background: #000000;
      }
      .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
      .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
        @media #{$info-phone} {
          bottom: -15px;
        }
      }
    }
    .swiper-slide{
      display: inherit;
      //margin-left: 15px !important;
      //margin-right: 15px !important;
    }
}