@import "src/styles/variables";


.technology-slide-box{
  width: 100%;
  position: relative;
  .technology-slide{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 45px;
    @media #{$info-table-1400} {
      margin-bottom: 3vw;
    }
    @media #{$info-phone} {
      margin-bottom: 5vw;
    }

    img{
      width: 150px;
      @media #{$info-table-1400} {
        width: 10vw;
      }
      @media #{$info-phone} {
        width: 16vw;
      }
    }
  }
}