@import "src/styles/variables";

#products {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 240px;
  background: #f0f0f0;
  @media #{$info-phone} {
    padding-top: 140px;
  }
  .container-child {
    flex-direction: row;
    @media #{$info-phone} {
      flex-direction: column;
    }
    .products-box {
      width: 50%;
      @media #{$info-table-1400} {
        width: 100%;
      }

      .frame-box {
        position: relative;
        width: 80%;
        margin: auto;
        flex-direction: column;
        @media #{$info-table-1068} {
          width: 90%;
        }
        &.left {
          margin-bottom: 100px;
        }

        img {
          width: 100%;
          border-radius: 25px;
        }

        .title-main {
          font-size: 30px;
          width: 100%;
          display: block;
          text-align: center;
          margin-top: 20px;
        }

        .description {
          width: 100%;
          display: block;
          height: 110px;
          font-size: 20px;
          @media #{$info-table-1400} {
            font-size: 2vw;
            height: 12vw;
          }

          @media #{$info-table-1068} {
            height: 16vw;
          }

          @media #{$info-phone} {
            height: fit-content;
            font-size: 17px;
            margin: 50px auto 0 auto;
          }
        }

        .learn-more {
          margin-top: 20px;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .technology {
    width: 100%;
    margin-top: 150px;
    background: #000000;
    padding: 200px 0;
    @media #{$info-phone} {
      padding: 100px 0;
      margin-top: 80px;
    }
    .container-child {
      flex-direction: column;
      .technology-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        @media #{$info-phone} {
          flex-wrap: wrap;
        }

        &.top {
          justify-content: center;
          padding: 30px 0;
          @media #{$info-phone} {
            padding: 0;
          }
        }

        &.middle {
          justify-content: space-around;
          margin-top: 50px;

          @media #{$info-phone} {
            justify-content: space-between;
            margin-top: 0;
          }
        }

        &.bottom {
          justify-content: space-around;
          margin-top: 100px;

          @media #{$info-phone} {
            margin-top: 0;
          }
        }

        .technology-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          @media #{$info-phone} {
            padding: 0 20px;
            margin-bottom: 40px;
          }

          &.middle-1 {
            margin-right: 350px;

            @media #{$info-phone} {
              margin-right: 0;
            }
          }
          &.middle-2 {
            margin-left: 350px;

            @media #{$info-phone} {
              margin-right: 0;
            }
          }

          img {
            height: 170px;
            width: fit-content;
            margin: auto;
            cursor: pointer;
            @media #{$info-table-1400} {
              height: 22vw;
            }

            @media #{$info-phone} {
              height: 20vw;
            }

            filter: grayscale(100%);

            &:hover {
              filter: grayscale(0);
              transform: scale(1.5);
              transition: ease-out 0.85s;
            }
          }

          .technology-title {
            margin-top: 10px;
            width: 100%;
            color: #ffffff;
            text-align: center;

            @media #{$info-phone} {
              font-size: 1.5vw;
              // width: 5vw;
            }
          }
        }
      }
    }
  }

  .technology-left {
    width: 100%;
    margin-top: 150px;
    background: #000000;
    padding: 200px 0;

    @media #{$info-table-1400} {
      padding: 50px 0;
    }

    @media #{$info-phone} {
      padding: 100px 0;
      margin-top: 80px;
      height: 80vw;
    }

    .container-child {
      flex-direction: row;

      .technology-img {
        flex-direction: column;
        padding: 5px;

        .box-slide {
          position: relative;
          margin-top: 70px;

          .box-member {
            display: flex;
            width: 100%;
            overflow-x: auto;
            flex-wrap: nowrap;
          }

          .icon-slide {
            position: absolute;
            top: 32%;
            z-index: 2;
            cursor: pointer;
            img {
              width: 60px;
              z-index: 2;
              opacity: 0.4;
              transition: opacity 0.4s;
              &:hover {
                opacity: 1;
              }
            }

            &.icon-next {
              left: -40px;
            }

            &.icon-pre {
              right: -40px;
            }
          }
        }

        .technology-box {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          @media #{$info-phone} {
            flex-wrap: wrap;
          }

          .technology-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media #{$info-phone} {
              padding: 0 20px;
              margin-bottom: 40px;
            }

            .img {
              height: 100px;
              width: fit-content;
              margin: auto;

              @media #{$info-table-1400} {
                height: 8vw;
              }

              @media #{$info-phone} {
                height: 13vw;
                margin: 4.5vw;
              }
              filter: grayscale(100%);

              &:hover {
                filter: grayscale(0);
              }

              &.active {
                filter: grayscale(0);
              }
            }

            .technology-title {
              margin-top: -50px;
              margin-bottom: 20px;
              font-size: 12px;
              width: 100%;
              color: #ffffff;
              text-align: center;

              @media #{$info-table-1400} {
                font-size: 1.2vw;
                margin-top: -5vw;
                margin-bottom: -1.2vw;
              }

              @media #{$info-phone} {
                font-size: 1.2vw;
              }
            }
          }
        }
      }

      .technology-content {
        width: 100%;
        background: linear-gradient(
          116.66deg,
          #00ffd5 0%,
          #00c2ff 48.44%,
          #00ff80 100%
        );

        @media #{$info-phone} {
          margin-top: 25%;
          position: absolute;
          height: 40vw;
        }

        border-radius: 40px;
        padding: 40px 0 80px 0;
        position: relative;
        .title-main {
          width: calc(100% - 40px);
          margin: 0 auto 100px auto;
          text-align: center;
          display: block;
          font-size: 40px;
          @media #{$info-phone} {
            width: calc(100% - 40px);
            margin: 0 auto 50px auto;
            font-size: 30px;
            line-height: 42px;
          }
        }

        .close-btn {
          float: right;
          position: relative;
          margin-right: 5%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: left;
          height: 30px;
          width: 30px;
          cursor: pointer;

          @media #{$info-phone} {
            display: none;
          }

          @media #{$info-phone-540} {
            margin-top: -5%;
            margin-right: 5vw;
            height: 4vw;
            width: 4vw;
          }
        }

        span {
          margin-left: 45%;
          color: #ffffff;
          align-self: center;
          transform: translate(-50%, -50%);
          word-break: keep-all;
          text-align: center;
          width: 100%;

          @media #{$info-table-1400} {
            position: absolute;
            margin-left: 50%;
            font-size: 2vw;
          }

          @media #{$info-phone} {
            position: absolute;
            margin-left: 50%;
            font-size: 2.5vw;
          }

          // @media #{$info-phone-540} {
          //   position: absolute;
          //   margin-top: -10%;
          //   margin-left: 50%;
          //   font-size: 2.5vw;
          // }
        }
      }
    }
  }
}

#root {
  #products {
    .swiper {
      position: initial;
      height: 850px;
      width: 350px;

      @media #{$info-table-1400} {
        height: 55vw;
        width: 35vw;
      }

      @media #{$info-phone} {
        margin-top: -50px;
        height: 33vw;
        width: 95vw;
      }

      .swiper-pagination-bullet {
        display: none;
      }
      .swiper-horizontal
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
      .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        bottom: -50px;
      }

      .swiper-slide {
        span {
          display: none;
          // @media #{$info-table-1400} {
          //   display: none;
          // }

          // @media #{$info-phone} {
          //   display: none;
          // }
        }
      }

      .swiper-slide-active {
        transform: scale(1.9);

        @media #{$info-table-1400} {
          transform: scale(1.9);
        }

        @media #{$info-phone} {
          transform: scale(1.5);
        }

        span {
          font-size: 10px;
          display: none;

          @media #{$info-phone} {
            display: unset;
            font-size: 1.1vw;
          }
        }

        img {
          filter: grayscale(0);
        }
      }
    }
  }
}
