@import "src/styles/variables";

#technology{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  .technology-use{
    padding: 120px 0;
    position: relative;
    @media #{$info-table-1400} {
      padding: 8vw 0;
    }

    .overlay-top{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 67.19%);
    }

    .overlay-bottom{
      left: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 25%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 55.21%);
      z-index: 0;
    }

    .box-image{
      width: 100%;
      display: block;
      position: relative;
      img{
        width: 80%;
        display: block;
        margin: auto;
      }

      .top-title{
        position: absolute;
        top: -50px;
        left: 9%;
        @media #{$info-table-1068} {
          top: -30px;
        }

        .title1{
          font-size: 57px;
          font-weight: bold;
          display: block;
          color: #FFFFFF;
          @media #{$info-table-1068} {
            font-size: 35px;
          }
        }

        .title2{
          margin-top: 10px;
          font-size: 25px;
          font-weight: bold;
          display: block;
          @media #{$info-table-1068} {
            font-size: 22px;
            margin-top: 6px;
          }
        }

        .title3{
          font-size: 57px;
          width: 200px;
          font-weight: bold;
          display: block;
          line-height: 65px;
          @media #{$info-table-1068} {
            width: 140px;
            font-size: 35px;
            line-height: 40px;
          }
        }
      }

      .bottom-title{
        position: absolute;
        right: 10%;
        bottom: -38px;
        display: block;
        @media #{$info-table-1068} {
          bottom: -30px;
        }

        .title4{
          width: 70%;
          float: right;
          text-align: right;
          font-size: 57px;
          line-height: 68px;
          font-weight: bold;
          display: block;
          color: #000000;
          z-index: 4;
          @media #{$info-table-1068} {
            font-size: 35px;
            line-height: 40px;
          }
        }
      }

      .box-slide{
        width: 50%;
        display: block;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        img{
          height: 150px;
          @media #{$info-table-1400} {
            height: 8vw;
          }
          width: fit-content;
        }
      }
    }
  }
}

#root{
  #technology{
    .swiper{
      position: initial;
      .swiper-pagination-bullet{
        background: #000000;
      }
      .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
      .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
        bottom: -7vw;
      }
    }
  }
}