@import "src/styles/variables";

#technology{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  .technology-use {
    padding: 150px 0 230px 0;
    position: relative;
    @media #{$info-table-1400} {
      padding: 16vw 0;
    }

    @media #{$info-phone} {
      height: 550px;
      padding: 100px 0;
    }

    .description{
      font-weight: bold;
      margin: 0 auto;
    }

    .container-child {
      flex-direction: column;

      .box-slide {
        margin-top: 70px;
        width: 100%;
        display: block;
          img {
            height: 150px;
            max-height: 80vw;
            @media #{$info-table-1400} {
              height: 8vw;
            }
            @media #{$info-phone} {
              height: 250px;
            }
            width: fit-content;
          }
        }

    }
  }
}

#root{
  #technology{
    .swiper{
      position: initial;
      .swiper-slide {
        display: flex;
        justify-content: center;
      }
      .swiper-pagination-bullet{
        background: #000000;
      }
      .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
      .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
        bottom: -80px;
      }
    }
  }
}