@import "src/styles/variables";

#technology{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  .technology{
    width: 100%;
    padding: 120px 0;
    background: #000000;
    .container-child{
      flex-direction: column;
      .technology-box{
        width: 100%;
        display: flex;
        flex-direction: row;
        &.top,&.bottom{
          justify-content: space-around;
        }

        &.center{
          justify-content: center;
          padding: 30px 0;
        }

        .technology-item{
          display: flex;
          flex-direction: column;
          justify-content: center;
          img{
            height: 300px;
            width: fit-content;
            margin: auto;
            @media #{$info-table-1400} {
              height: 22vw;
            }
          }

          .technology-title{
            margin-top: 10px;
            width: 100%;
            color: #FFFFFF;
            text-align: center;
          }
        }
      }
    }
  }

  .technology-use{
    margin: 130px 0;
    padding: 120px 0;
    position: relative;
    @media #{$info-table-1400} {
      padding: 8vw 0;
    }

    .overlay-top{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 67.19%);
      opacity: .5;
    }

    .overlay-bottom{
      left: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 25%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 55.21%);
      opacity: .5;
    }

    .box-image{
      width: 100%;
      position: relative;
      img{
        width: 80%;
        display: block;
        margin: auto;
      }

      .top-title{
        position: absolute;
        top: -50px;
        left: 10%;
        @media #{$info-table-1068} {
          top: -30px;
        }

        .title1{
          font-size: 57px;
          font-weight: bold;
          display: block;
          color: #FFFFFF;
          @media #{$info-table-1068} {
            font-size: 35px;
          }
        }

        .title2{
          margin-top: 10px;
          font-size: 25px;
          font-weight: bold;
          display: block;
          @media #{$info-table-1068} {
            font-size: 22px;
            margin-top: 6px;
          }
        }

        .title3{
          font-size: 57px;
          font-weight: bold;
          display: block;
          line-height: 65px;
          @media #{$info-table-1068} {
            font-size: 35px;
            line-height: 40px;
          }
        }
      }

      .bottom-title{
        position: absolute;
        right: 10%;
        bottom: -38px;
        @media #{$info-table-1068} {
          bottom: -30px;
        }

        .title4{
          width: 70%;
          float: right;
          text-align: right;
          font-size: 57px;
          line-height: 68px;
          font-weight: bold;
          display: block;
          color: #FFFFFF;
          z-index: 2;
          @media #{$info-table-1068} {
            font-size: 35px;
            line-height: 40px;
          }
        }
      }
    }
  }
}