@import "src/styles/variables";

#footer{
  width: 100%;
  padding: 100px 0 80px 0;
  overflow-x: hidden;
  background: #1E1E1E;
  .contract{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .box-local{
      display: flex;
      flex-direction: row;
      .map{
        display: block;
        width: 280px;
        height: 140px;
        @media #{$info-table-1068} {
          width: 220px;
        }
      }
      
      .title-address-box{
        width: 320px;
        padding: 0 50px 0 20px;
        @media #{$info-table-1068} {
          width: 220px;
        }
        .title-address{
          color: #FFFFFF;
          width: 100%;
          display: block;
          font-size: 20px;
        }

        .title{
          color: #FFFFFF;
          width: 100%;
          display: block;
          font-size: 14px;
          margin-top: 25px;
          @media #{$info-table-1068} {
            font-size: 12px;
          }
        }
      }
    }

    .contract-title-box{
      width: 400px;
      @media #{$info-table-1068} {
        width: 300px;
      }
      .title-footer{
        color: #FFFFFF;
        width: 100%;
        display: block;
        font-size: 20px;
      }
      .email-footer{
        color: #FFFFFF;
        width: 100%;
        display: block;
        font-size: 14px;
        margin-top: 20px;
        @media #{$info-table-1068} {
          font-size: 12px;
        }
      }
      .phone{
        color: #FFFFFF;
        margin-top: 5px;
        width: 100%;
        display: block;
        font-size: 14px;
        @media #{$info-table-1068} {
          font-size: 12px;
        }
      }
    }
  }
}